*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: black;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(51, 51, 51);
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 30px;
    text-align: center;
    padding: 1% 2%;
    gap: 20px 20px;
}

label {
    display: block;
}

.elem-background {
    background-color: black;
    padding: 4% 3%;
    width: 200px;
    border: solid 1px rgb(216, 215, 215);
}

.cash-transaction {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 200px;
}

.cashier-elem-background{
    width: 200px;
}

input {
    background-color: black;
    border: none;
    text-align: center;
    color: white;
    margin-left: 11px;
}
.currency-input {
    position: absolute;
    pointer-events: none;
}

input::placeholder {
    color: white !important;
}

.cashier-section {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

#cash-in-drawer, #change-due {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cid-section {
    display: flex;
    justify-content: center;
    padding: 13px 15px;
    height: 250px;
}

.cid-header{
    margin-bottom: 10px;
}

.denom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.denom-name {
    text-align: left;
}

.denom-amount {
    text-align: right;
}

.status {
    text-align: center;
    margin-bottom: 10px;
}

.btn-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.key {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.purchase-clear-section {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.purchase-clear-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 40px;
    border-radius: 10px;
}

#purchase-btn {
    border: solid 1px rgb(31, 135, 253);
}

#clear-btn {
    border: solid 1px rgb(233, 217, 3);
}

.key:active, .purchase-clear-btn:active {
    background-color: white;
    color: black;
}